
body {
  /*font-family: "Roboto","HelveticaNeue-Light",sans-serif !important;*/
/* background-color:  linear-gradient(to bottom, #141b29, #0c111b 300px) !important;*/
   padding: 0px!important;
   margin: 0px!important;
     /*font-size: 18px !important;*/
     font-family: 'Roboto', sans-serif;
    font-size: 1.125em !important;


}

.header-navigation ul.navigation-box > li > a {
    padding-right: 5px !important;
    color: #fffffffa !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: normal !important;
    text-transform: none !important;
    cursor: pointer !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-weight: 700;
 
  
}

.competition_btn{
  background: none!important;
  border: none;
  padding: 0!important;
  color : #fff;
}

.login-btn{
   padding-right: 5px !important;
    color: #fffffffa !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: normal !important;
    text-transform: none !important;
    cursor: pointer !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-weight: 700;
}
.menu:hover{
  color:white !important;
}
.headingtitle{
/*color: var(--TEXT_COLOR_L0) !important;*/
    font-weight: 400 !important;
    font-size: 18px !important;
    text-transform: none !important;
    padding-top: 15px !important;
     color:#fffffffa!important;
  }
  /*.headingtitle:hover{
    color:#e2ddddcc!important;
  }*/
  
/*@media only screen and (max-width: 768px) {
   For mobile phones: 
  .carousel {
    width: 100% !important;

  }
}*/
/*.row , .container-fluid{
   padding: 0px!important;
   margin: 0px!important;
}
*/
.modal-bodyy{
  font-size: 16px !important;
  padding-bottom: 0px !important;
    margin-bottom: -35px !important;
    padding-top: 0px !important;
}
.t{
  font-size: 16px;

}
  .t:hover{
        
  text-decoration: underline !important;
    }

.page-wrapper {
    background: linear-gradient(to bottom, #141b29, #0c111b 300px) !important;
    /*background-image: C:/xampp/htdocs/quiz_competition/assets/imagesbackprofile.jpg*/
}
.stricked-menu{
     background: linear-gradient(to bottom, #141b29, #0c111b 300px) !important;
     height:66px !important;
    }


.site-header{
     background: linear-gradient(to bottom, #141b29, #0c111b 300px) !important;
     height:66px !important;
}
.header-navigation .container {
    height:66px !important;
}
.header-navigation ul.navigation-box {
    /* margin: 0; */
    /* padding: 0; */
    list-style: none;

    padding-left: 0px !important;
    margin-top: -16px !important;
    height: 50px !important;
}
dl, ol, ul {
    /*margin-top: -19px !important;*/
    font-size: 18px !important;
}
.footer-widget {
    padding-top: 25px !important;
    padding-bottom: 40px !important;
}
.footer-widget__title {

    margin-bottom: 15px !important;
    /*font-size: 22px !important;*/
    margin-left: -24px !important;
    font-size: 1.25rem!important;
    font-weight: 500!important;
    color: #fff!important; 
   
}
.title{
     font-size: 16px !important;
     margin-top: -8px !important;
      font-family: 'Roboto', sans-serif;
       color: #fffffffa !important; 
}
.fatitle{
   padding-left: 0px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   color: #fffffffa !important;
   font-size: 16px !important;

}
.fafa{
  margin-left: -24px;
}
.footer-widget__link-list li + li {
    margin-top: 10px !important;
    font-size: 16px !important;
}
.site-footer__bottom {
    background-color: #012237;
    margin-top: -38px !important;
    padding: 2px !important;
}
.footer-widget__link-list li {
    line-height: 1.2em !important;
}
.footer-widget__link-list li a {
    color: #fffffffa;
    font-size: 16px !important;
    font-weight: 400;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.mail:hover{
  color: blue;
}
.site-footer__social {
    
    padding: 6px 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: -23px !important;
 }
 /*.twit{
  color: #fffffffa!important;
 }*/
 .twit:hover{
  color: rgba(29,161,242,1.00)!important;
 }
 /*.face{
  color: #fffffffa!important;
 }*/
 .face:hover{
  color: #0a3b6f!important;
 }
/* .pint{
   color: #fffffffa!important;
 }*/
 .pint:hover{
  color:rgb(230, 0, 35)!important; 
 }
/* .insta{
   color: #fffffffa!important;
 }*/
 .insta:hover{
  color: #8a3ab9 !important ; 
 }
 .footer-widget .list-unstyled {
    
    margin-right: -35px !important;
    margin-left: -23px !important;
}  
.scroll{
    margin-left: -50px !important;
    height: 30px !important;
    width: 30px !important;
    /* padding-left: 0px; */
    margin-top: -15px !important;
}
.scroll:hover{
  background-color: #1f80e0;
}
.navbox{
   margin-top: -3px !important;  
}
.conhead{

   min-height: calc(1170px * .34188) !important;
    position: relative !important;

 } 
 .image-gradient{
    
 }  
.carousel-item img{
  width: 100% !important;
  height: 500px !important;
}
img::before {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
    /*background: linear-gradient(to left,#141b29, #0c111b );*/
  }

.carousel-inner .carousel-caption{
  top: 50px !important;
  bottom: auto!important;
  text-align: left!important;
}

.carousel-inner .carousel-caption .heading{
  font-size: 5rem !important;
}
.about-two{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
   
}

.a{
        background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0 !important;
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 13px;
    }
    .b{
         display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    }
.text-color{
    color:white;
}


    .carousel-caption h5{
        text-shadow: 5px 5px #808080;
    }
.login-box{
        padding-right: 500px !important;
    padding-left: 500px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.modal-body{
    text-align: initial !important;
}

..owl-one .main-slide{
    padding-left: 30px;
}
.owl-one .main-slide h1{
  font-size: 2.2rem!important;
  margin-top: 50px!important;
  padding-top: 50px!important;
  padding-left: 30px;
}

.owl-one .main-slide p{
  font-size: 1.2rem!important;
  margin-top: 10px!important;
  padding-top: 10px!important;
  text-align: left;
  padding-left: 30px;
}

.grad{
    /*margin-right: -200px;*/
    /*margin-left: 20px;*/
    /*height: 400px;*/
    width: 100%;
    position: absolute;
  background-image: linear-gradient(to right, rgba(13,18,28,1), rgba(13,18,28,0));
  z-index: 9!important;
  height: 450px;
}


.owl-one .image_div{
      padding-left: 0px;
}

.owl-one .image_div img{
    height: 450px;
    z-index: 1;
}

.owl-one .owl-prev{
  color: #fff!important;
  font-size: 60px!important;
  width: 40px;
  height: 100px;
  position: absolute;
  top: 35%;
  left: 0px;
  transform: translateY(-50%);
  display: block;
  
} 

 .owl-one .owl-next{
  color: #fff!important;
  font-size: 60px!important;
  width: 40px;
  height: 100px;
  position: absolute;
  top: 35%;
  right: 0px;
  transform: translateY(-50%);
  display: block;
 
} 

.site-footer{
    background-color: #0c111b!important; 
    border-top: 0.5px solid #D0D0D0;
}

.bg-website{
    background-color: #0c111b!important; 
}

.banner_text_div{
  padding-left: 20px;
}
.site-footer__copy a {
    color: #fffffffa!important;
    margin-left: 10px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.site-footer__bottom p  {
    color: #fffffffa!important;
    font-size: 16px!important;
    font-weight: 400!important;
}
.footer-widget__link-list li a:hover {
    color: #fffffffa !important;
}
 /*.btn{
    background-color: #1f80e0 !important;
    color: #fff !important;
    user-select: none !important;
  }
  .btn:hover{
    background-color: blue;
  }*/
  .section-tab .nav-tabs li .theme-btn.active {
    background-color: #1f80e0;
    color: #fff;
}
.section-tab .nav-tabs li .theme-btn {
    color:  white;
    text-transform: capitalize;
    padding-right: 17px;
    padding-left: 17px;
    line-height: 40px;
    background-color: #7190b72e;
    border: none;
}
  
.theme-btn {
    font-size: 15px !important;
    padding: 0 15px 0 15px !important;
    margin-left: 10px !important;
    line-height: 40px !important;
    border-radius: 5px !important;
    z-index: 1 !important;
    display: inline-block !important;
   transition: all 0.3s !important;
   font-weight: 400 !important;
   color: #fffffffa !important;
    background: linear-gradient(to right, #1f80e0 50%, #7190b72e 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;

   
 }
 .theme-btn:hover{
 background-position: left bottom;
 color: white !important;
 }

.li{
  padding-right: 10px !important;
}
/*.btn.focus, .btn:focus {
    outline: 0;
     box-shadow: 0px !important; 
}*/

.heading-back{
  background-color: #0056b3; 
  color: #fff;
  padding: 10px 30px; 
}
@media screen and (max-width: 418px) {
 .owl-one .image_div img{
    height: auto;
    z-index: 1;
}
.owl-one .grad{
   
    height: auto;
    display: none;
 
}
.owl-one .main-slide h1{
  font-size: 1.5rem!important;

}

.owl-one .main-slide p{
  font-size: 1rem!important;
  
  text-align: center !important;

}
.btn{
  margin-bottom: 10px !important; 
}
 /*.comp a:hover{
    color:#1f80e0;
  }*/

}
.titlee{
  color: #233d63 !important; 
  font-family: 'Roboto', sans-serif;  
  font-weight: 600 !important;
}
.py-3{
  background-color: white !important; 
  border-radius: 0 0 4px 4px !important;
}
/*.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}*/

.over img{
    transition: 2s ease;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: -1%;
    left: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 2s ease;
    /*background-color: #0c0c0c6e;*/
    background-image: linear-gradient(rgba(12, 17, 27, 0.05),  rgba(12, 17, 27, 0.9));

}

.over:hover .overlay {
    opacity: 1;
    transform: scale(1.1);
}
.over:hover img {
    opacity: 1;
    transform: scale(1.1);
}
.text {
  color: white;
  width: 100%;  
  font-size: 14px;
  position: absolute;
  bottom: 0%;
  text-align: justify;
  padding-left: 20px;
}

.text  p{
  line-height: 24px;
  margin-bottom: 0px;
  /*font-size: 15px;*/
  }
  .text p:hover {
    background-color: #ffffff26;
    width: 82%;
    border-radius: 2px;
}


.mr{
      margin-right: 100px !important;
}
.mr1{
      margin-right: 100px !important;
}
.buttontheme:hover {
    background-color: #fff;
    color: #1f80e0 !important;
   
}

.buttontheme{
    font-size: 15px;
    text-transform: uppercase;
    background-color: #1f80e0;
    color: #fff;
    padding: 0 10px 0 10px;
    line-height: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 1;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #1f80e0;
    font-weight: 500;
}
.rowspace{
    margin-bottom: -16px;
}
.stricked-menu ul.navigation-box > li {
padding-top: 35px !important;
padding-bottom: 18px !important;
}
.section-divider {
    display: inline-block !important;
    position: relative !important;
    height: 5px !important;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    border-radius: 30px !important;
    background-color: #1f80e0 !important;
    width: 90px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    overflow: hidden !important;
}
.section-divider:after {
    content: '' !important;
    position: absolute !important;
    left: 0 !important;
    top: -1.1px !important;
    height: 7px !important;
    width: 8px !important;
    background-color: #fff !important;
   
    animation-duration: 3s !important;
   
    animation-timing-function: linear !important;
  
    animation-iteration-count: infinite !important;
  
    animation-name: dot-move !important;
}
.section__meta {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    color: #acbee6;
    background-color: #7190b72e;
    padding: 0 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    letter-spacing: 0.6px;
    margin-bottom: 5px;
    line-height: 26px;

}
@-webkit-keyframes dot-move{
from{-webkit-transform:translateX(0);
    transform:translateX(0);
} 
to{
   -webkit-transform:translateX(88px);
    transform:translateX(88px);
} 
} 
@-webkit-keyframes dot-move{
from{
    -ms-transform:translateX(0);
     transform:translateX(0);
} 
to{
    -ms-transform:translateX(88px);
    transform:translateX(88px);
} 
} 
@keyframes dot-move{
from{
     -webkit-transform:translateX(0);
      transform:translateX(0);
} 
to{
    -webkit-transform:translateX(88px);
    transform:translateX(88px);
} 
}
@-webkit-keyframes dot-move2{
from{
  -webkit-transform:translateX(0);
   transform:translateX(0);
} 
to{
    -webkit-transform:translateX(48px);
    transform:translateX(48px);
} 
} 
@-webkit-keyframes dot-move2{
from{
     -ms-transform:translateX(0);
      transform:translateX(0);
} 
to{
    -ms-transform:translateX(48px);
    transform:translateX(48px);
} 
} 
@keyframes dot-move2{
from{
    -webkit-transform:translateX(0);
    transform:translateX(0);
} 
to{
    -webkit-transform:translateX(48px);
    transform:translateX(48px);
} 
}
.comptitle{
    font-size: 36px;
    font-weight: 600;
}
.abt{
      margin-top: -15px;
}
.imagemr{
  margin-top: -25px;
}
/*.image-gradient {
    top: 0;
    right: 590px;
    width: 200px;
    height: inherit;
    content: '';
    position: absolute;
    -webkit-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
    background: -webkit-gradient(linear, left top, right top, from(var(--CARD_GRADIENT)), to(rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, var(--CARD_GRADIENT), rgba(0,0,0,0));
    background: -o-linear-gradient(left, var(--CARD_GRADIENT), rgba(0,0,0,0));
    background: linear-gradient(to right, var(--CARD_GRADIENT), rgba(0,0,0,0));
}*/
.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: none  !important;
    color: #FFF;
    text-decoration: none;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}
.modal-footer {
    display: -ms-flexbox;
     display: block !important; 
    -ms-flex-align: center;
     align-items: center; 
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}




.featured .card .card-img-top{
      width: 250px;
      height: 100%;
      overflow: hidden!important;
      transition: transform .4s;
  }


.featured .card:hover .featured-card-img{
    transform: scale(1.1);
    transform-origin: 50% 50%;
  }

  .featured .card .card-img-top{
      width: 100%;
      height: auto;
      overflow: hidden!important;
  }

  .featured{
  padding-top: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}


  .line-through{
   text-decoration: line-through;
}


.featured .card-title{
    font-size: 14px !important;
    color: #333;
    text-align: center;
}


/*login start*/


 .con{
  position:absolute;
  width: auto;
  height:auto;
  top: calc(50% - 240px);
  /*left: calc(50% - 160px);*/
  right: calc(50% - 125px);
}
        .form {
  position: absolute;
  text-align: center;
  background: #fff;
  width: 310px;
  height: 460px;
  border-radius: 5px;
  padding: 30px 20px 0 20px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
.p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 12px;
  color: #87613d;
  margin-bottom: 40px;
}
​
.p > span {
  padding-top: 3px;
  display: block;
  font-weight: 400;
  font-size: 9px;
}
.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #87613d;
  margin-bottom: 30px;
  font-weight: 500!important;
}

.input,
.button{
  outline: none !important;
   line-height: 0px !important;  
}
.fb {
  border: none;
  background: #3b5998;
  width: 160px;
  height: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #29487d;
  cursor: pointer;
  margin-bottom: 20px;
  transition:all 0.3s linear;
   line-height: 0px !important; 
}
.fb:hover {
  background: #fff;
  color: #3b5998;
}

.button.form-btn {
  position: absolute;
  width: 50%;
  height: 60px;
  bottom: 0;
  border: 0;
 font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
}

.button.form-btn.sx {
  left: 0;
  border-radius: 0 0 0 5px;
  background-color: rgba(255, 125, 0, 0.35);
  color: #fff;
  transition:all 0.3s linear;
}

.button.form-btn.sx:hover {
  background-color:rgba(255, 125, 0, 0.65);
  color: #fff;
}

.button.form-btn.sx.back {
  background-color: rgba(0, 0, 0, 0.15);
  transition:all 0.3s linear;
}

.button.form-btn.sx.back:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

.button.form-btn.dx {
  right: 0;
  border-radius: 0 0 5px 0;
  background-color: #ff7d00;
  color: #fff;
}

.input {
  border: none;
  border-bottom: 1px solid #ffc185;
  width: 85%;
  font-family: 'Roboto', sans-serif;
  color: #ff7d00;
  /*text-align: center;*/
  font-size: 16px;
  font-weight:100;
  margin-bottom:25px;
}
::-webkit-input-placeholder {
   color: #ffc185;
  font-family: 'Roboto', sans-serif;
  font-weight:100;
}

:-moz-placeholder {
   color: #ffc185;  
  font-family: 'Roboto', sans-serif;
  font-weight:100;
}

::-moz-placeholder {
   color: #ffc185;  
  font-family: 'Roboto', sans-serif;
  font-weight:100;
}

:-ms-input-placeholder {  
   color: #ffc185; 
  font-family: 'Roboto', sans-serif;
  font-weight:100;
}
.signIn input,
.signUp .w100 {
  width: 100%;
}

.signIn{
    z-index: 1;
    transform: perspective(100px) translate3d(100px, 0px, -30px);
    opacity: 0.5;
}

.signUp {
  z-index: 2;
}

.active-sx{
  animation-name: foregrounding-sx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.active-dx{
  animation-name: foregrounding-dx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.inactive-sx{
  animation-name: overshadowing-sx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.inactive-dx{
  animation-name: overshadowing-dx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}
@keyframes overshadowing-sx {
  0%{
    z-index:2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  }
  100%{
    z-index: 1;
    transform: perspective(100px) translate3d(100px, 0px, -30px);
    opacity: 0.5;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  }
}

@keyframes overshadowing-dx {
  0%{
    z-index:2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  }
  100%{
    z-index: 1;
    transform: perspective(100px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  }
}

@keyframes foregrounding-sx {
  0%{
    z-index:1;
    transform: perspective(100px) translate3d(100px, 0px, -30px);
    opacity: 0.5;
  }
  50%{
    z-index:2;
    transform: perspective(100px) translate3d(400px, 0px, -30px);
  }
  100%{
    z-index:2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

@keyframes foregrounding-dx {
  0%{
    z-index:1;
    transform: perspective(100px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
  }
  50%{
    z-index:2;
    transform: perspective(100px) translate3d(-400px, 0px, -30px);
  }
  100%{
    z-index:2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
.logincontent {
    position: none !important; 
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
     flex-direction: column; 
     width:0% !important; 
     pointer-events: auto; 
     background-color:none !important; 
     background-clip: none !important; 
     border: 0px !important; 
     border-radius: 0px !important; 
     outline: 0 !important; 
}
.login {
    -webkit-transform: translateY(-50%);
}
.dropdown{
  margin-top: -20px !important;
}
.ddl{
  -webkit-transform: none !important;
}
.dropdown .btnlogout {
     background-color: none !important; 
    color: #fffffffa !important;
    font-size: 16px!important;
    
}
.btn.focus, .btn:focus {
     outline: none !important; 
     box-shadow: none !important; 
}
.dropdown-item {
    display: block;
    margin-top: -8px !important;
    margin-bottom: -8px !important;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color:#fffffffa !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: #181e31 !important;
    border: 0;
    font-size: 16px!important;
}
.featuredrow{
   
   padding-left: 0 !important;
   padding-right: 0 !important
}
.container {
    width: 100%;
    padding-right: 0px !important; 
    padding-left: 0px !important; 
    margin-right: auto;
    margin-left: auto;
}

/*login end*/

.competitionwrapper{
padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
} 
.profilewrapper{
  padding-left: 460px;
    padding-right: 25px;
    padding-top: 125px;
    padding-bottom: 106px;
}
.resultwrapper{
  padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.winnerwrap{
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1111117a;
}
.profilecon{
  padding-left: 460px;
    padding-right: 25px;
    padding-top: 106px;
    padding-bottom: 106px;
}
.aboutus{
    padding-top: 50px;
    padding-bottom: 30px;
}
.about .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.bgbackgroundpages{
   background-color: #121a2b;
}
.about{
 
  padding-bottom: 30px;
  padding-top: 30px;
 
  margin-top: 80px;
}
.about p{
  border-bottom: 4px solid #989898;
 width: 50%;
 
}
.headingabout{
  font-size: 16px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
}
.contactcol{
  padding-left: 30px;
  padding-right: 30px;

}
.contactusrow{
  position: relative;
  background-color:#203a5a; 
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
   padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 4px;
}
.contactcol .map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.contactcol .map-container iframe{
left:0;
top:0;
height:80%;
width:100%;
position:absolute;
}
.contactaddress{
  /*padding-left: 20px;
  padding-right: 20px;*/
  text-align: center;
}
.contactaddress img{
  margin-left:50%;
}
.toast-success {
  background-color: #51A351;
}
.toast-error {
  background-color: #BD362F;
}
